* {
    box-sizing: border-box;
}

html, 
body {
    height: 100%;
}
body{
    margin: 0;
}

img {
    width: 100%;

}



.wrapper {
    min-height: 100%;
    font-family: Arial, Helvetica, sans-serif;
}


.card {
    width: 357px;
    height: 264px;
    border: 2px solid rgb(255, 255, 255);
    position: relative;
}

.card__img-wrap {
    height: 100%;

}


.card__img {
    height: 100%;
object-fit: cover;
}


.card__sale {
    background-color: rgba(6, 54, 138, 0.871);
color: white;
padding: 10px 20px;
position: absolute;
top: 13px;
left: 13px;
}


.card__title {
background-color: rgba(6, 54, 138, 0.834);
color: white;
padding:19px 12px;
position: absolute;
left: 0px;
bottom: 0px;
width: 100%;
}

.wrapper {
    min-height: 100%;
    font-family: Arial, Helvetica, sans-serif;
}
/*
.overlay {
    height: 100%;
   width: 100%;
   top: 0;
   left: 0;
    background-color: rgba(62, 62, 62, 0.503);

}
*/

.mount {
    width: 691px;
    height: 354px;
    border: 2px solid rgba(255, 255, 255, 0.451);
    position: relative;

}


.mount__img-wrap {
    height: 100%; 
    
}


.mount__img {
    height: 100%;
object-fit: cover;

}



.mount__title {
   font-size: 50px;
    color: white;
    padding:19px 12px;
    position: absolute;
    left: 0px;
    bottom: 0px;
    
   width: 100%;
  /* как сделать на всю картинку overlay? */
background-color: rgba(83, 83, 83, 0.329);
    }

 


    .wrapper {
        min-height: 100%;
        font-family: Arial, Helvetica, sans-serif;
    }
    
    
    .room {
        width: 800px;
        height: 223px;
        border: 2px solid rgb(255, 255, 255);
        position: relative;
    }
    
    .room__img-wrap {
        height: 100%;
    
    }
    
    
    .room__img {
        height: 100%;
    object-fit: cover;
    }
    



    



    .